@import "../bourbon/bourbon"

$color: #743a7d //Theme skin
$text_color: #888
$main_color: #222
$bg_light: #FAFAFA

@mixin kerning($kerning)
	letter-spacing: $kerning + px

body
	color: $main_color
	+kerning(1)

a
	color: $color

p, .footer_section
	color: $text_color

.color_element
	color: $color 
.color_bg
	background-color: $color
.color_border
	border-color: $color
.bg_light
	background-color: #FAFAFA
	.section_description::after
		background-color: #444

.bg_dark
	background-color: #222
	color: #fff
	.section_description::after
		background-color: #fff
	a
		color: #fff

.bg_white
	background-color: #fff
	.section_description::after
		background-color: #555


.main_color_bg
	background-color: $main_color

.toggle_mnu
	background-color: $main_color

.header_menu
	a
		color: $color 
	a:hover
		color: $main_color
		background-color: rgba(255,255,255,.5)

.footer_section
	color: #ccc

.about_content
	h3
		font-size: 16px
		color: $main_color
		font-weight: 600
		letter-spacing: 2px

.about_item
	.about_item-date
		color: #fff
		background-color: $color

.portfolio
	li
		color: $text_color
	li.active
		color: #fff
		border-bottom: 1px solid $color

.portfolio_item .item_content
	a
		border-color: $color
		color: $color

.contacts_icon
	color: $color

.contacts_form
	.form-group
		input, textarea
			border: 1px solid $color
	button
		background-color: $color
