body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

section,
.main_head {
  position: relative; }

.main_head {
  min-height: 620px;
  padding-top: 40px; }

.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  .loader .loader_inner {
    background-image: url("../img/load.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

.header_logo svg {
  position: relative;
  float: left;
  z-index: 100;
  height: 80px;
  width: 80px; }

.toggle_mnu {
  width: 60px;
  height: 60px;
  float: right;
  position: relative;
  z-index: 200;
  border-radius: none;
  border: none;
  outline: none; }
  .toggle_mnu span {
    display: block; }

.sandwich {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }
  .sandwich .sw-topper {
    position: relative;
    top: 0;
    width: 45px;
    height: 5px;
    background: white;
    border: none;
    border-radius: 4px 4px 4px 4px;
    -webkit-transition: -webkit-transform 0.5s, top 0.2s;
            transition: transform 0.5s, top 0.2s; }
  .sandwich .sw-bottom {
    position: relative;
    width: 45px;
    height: 5px;
    top: 10px;
    background: white;
    border: none;
    border-radius: 4px 4px 4px 4px;
    -webkit-transition: -webkit-transform 0.5s, top 0.2s;
            transition: transform 0.5s, top 0.2s;
    -webkit-transition-delay: 0.2s, 0s;
            transition-delay: 0.2s, 0s; }
  .sandwich .sw-footer {
    position: relative;
    width: 45px;
    height: 5px;
    top: 20px;
    background: white;
    border: none;
    border-radius: 4px 4px 4px 4px;
    -webkit-transition: all 0.5s;
            transition: all 0.5s;
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s; }

.sandwich.active .sw-topper {
  top: 14px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }
.sandwich.active .sw-bottom {
  top: 10px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.header_menu {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  z-index: 110;
  top: 0;
  left: 0;
  display: none;
  cursor: pointer; }
  .header_menu ul, .header_menu li {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .header_menu ul {
    margin-top: 100px; }
    .header_menu ul li {
      text-align: center;
      margin: 20px auto; }
      .header_menu ul li a {
        display: block;
        text-transform: uppercase;
        padding: 10px 0;
        font-weight: bolder; }

.title_wrapper {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; }
  .title_wrapper .title_description {
    display: table-row; }
    .title_wrapper .title_description .title_center {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
      .title_wrapper .title_description .title_center .title_text {
        display: inline-block; }
        .title_wrapper .title_description .title_center .title_text h1 {
          display: inline-block;
          padding: 10px 35px;
          color: #fff;
          border: 8px solid #fff;
          text-transform: uppercase;
          font-weight: bolder;
          font-size: 3em;
          background-color: rgba(0, 0, 0, 0.3);
          /*box-shadow: rgba(0,0,0,.05) 0 0 0 1000px */
          margin-bottom: 10px;
          -webkit-animation-delay: 1.2s;
                  animation-delay: 1.2s; }
        .title_wrapper .title_description .title_center .title_text p {
          color: #fafafa;
          letter-spacing: 4px;
          text-transform: uppercase;
          font-weight: bolder;
          -webkit-animation-delay: 2.2s;
                  animation-delay: 2.2s; }

section {
  padding: 70px 0; }
  section h2 {
    margin: 0 0 20px;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center; }
  section .section_description-wrapp {
    text-align: center; }
    section .section_description-wrapp .section_description {
      display: inline-block;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 4px;
      position: relative;
      margin-bottom: 130px; }
      section .section_description-wrapp .section_description:after {
        content: "";
        height: 2px;
        left: 50%;
        margin-left: -75px;
        margin-top: 60px;
        position: absolute;
        width: 150px; }

.footer_section {
  padding: 30px 0;
  font-size: 14px; }
  .footer_section .social-wrapp ul {
    list-style-type: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }

.about_content .left {
  text-align: right;
  border-right: 2px #bbb solid; }
.about_content .right {
  text-align: left; }
.about_content .about-icon {
  font-size: 40px;
  margin-bottom: 30px; }

.about_item {
  margin-bottom: 40px; }
  .about_item .about_item-date {
    display: inline-block;
    margin-bottom: 10px;
    padding: 0 10px;
    font-weight: 600; }

.portfolio ul, .portfolio li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center; }
.portfolio li {
  display: inline-block;
  margin: 0 30px;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
  line-height: 2; }
.portfolio ul {
  margin-bottom: 50px; }

/*#portfolio_grid .mix
 * display: none */
.portfolio_item {
  display: none;
  padding: 0; }
  .portfolio_item img {
    width: 100%; }
  .portfolio_item .item_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    opacity: 0;
    -webkit-transition: all 0.5s;
            transition: all 0.5s; }
  .portfolio_item:hover .item_content {
    opacity: 1; }
  .portfolio_item h3 {
    color: #fff;
    margin-bottom: 0; }
  .portfolio_item a {
    background-color: transparent;
    border: #fff 1px solid;
    padding: 2px 10px;
    display: inline-block; }

.contacts_box {
  margin-bottom: 20px; }
  .contacts_box h3 {
    text-align: left;
    color: #000;
    margin-bottom: 0px;
    font-size: 14px; }
  .contacts_box .contacts_icon {
    font-size: 30px; }
  .contacts_box p {
    margin-top: 20px; }

.contacts_form button {
  border: none;
  color: #fff;
  line-height: 40px;
  padding: 0 25px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  float: right; }
.contacts_form .form-group {
  display: block;
  margin-bottom: 25px;
  font-size: 15px;
  font-weight: 500;
  color: #333; }
  .contacts_form .form-group input, .contacts_form .form-group textarea {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 5px;
    line-height: 40px;
    text-indent: 12px;
    font-size: 12px; }
