@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/WORK\/wordpress-landing-page-lesson-master\/__clean_html_original\/css\/sass\/skins\/blue\.sass}line{font-family:\0000311}}
body {
  color: #222;
  letter-spacing: 1px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/WORK\/wordpress-landing-page-lesson-master\/__clean_html_original\/css\/sass\/skins\/blue\.sass}line{font-family:\0000315}}
a {
  color: #548bc5; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/WORK\/wordpress-landing-page-lesson-master\/__clean_html_original\/css\/sass\/skins\/blue\.sass}line{font-family:\0000318}}
p, .footer_section {
  color: #888; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/WORK\/wordpress-landing-page-lesson-master\/__clean_html_original\/css\/sass\/skins\/blue\.sass}line{font-family:\0000321}}
.color_element {
  color: #548bc5; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/WORK\/wordpress-landing-page-lesson-master\/__clean_html_original\/css\/sass\/skins\/blue\.sass}line{font-family:\0000323}}
.color_bg {
  background-color: #548bc5; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/WORK\/wordpress-landing-page-lesson-master\/__clean_html_original\/css\/sass\/skins\/blue\.sass}line{font-family:\0000325}}
.color_border {
  border-color: #548bc5; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/WORK\/wordpress-landing-page-lesson-master\/__clean_html_original\/css\/sass\/skins\/blue\.sass}line{font-family:\0000327}}
.bg_light {
  background-color: #FAFAFA; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/WORK\/wordpress-landing-page-lesson-master\/__clean_html_original\/css\/sass\/skins\/blue\.sass}line{font-family:\0000329}}
  .bg_light .section_description::after {
    background-color: #444; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/WORK\/wordpress-landing-page-lesson-master\/__clean_html_original\/css\/sass\/skins\/blue\.sass}line{font-family:\0000332}}
.bg_dark {
  background-color: #222;
  color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/WORK\/wordpress-landing-page-lesson-master\/__clean_html_original\/css\/sass\/skins\/blue\.sass}line{font-family:\0000335}}
  .bg_dark .section_description::after {
    background-color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/WORK\/wordpress-landing-page-lesson-master\/__clean_html_original\/css\/sass\/skins\/blue\.sass}line{font-family:\0000337}}
  .bg_dark a {
    color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/WORK\/wordpress-landing-page-lesson-master\/__clean_html_original\/css\/sass\/skins\/blue\.sass}line{font-family:\0000340}}
.bg_white {
  background-color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/WORK\/wordpress-landing-page-lesson-master\/__clean_html_original\/css\/sass\/skins\/blue\.sass}line{font-family:\0000342}}
  .bg_white .section_description::after {
    background-color: #555; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/WORK\/wordpress-landing-page-lesson-master\/__clean_html_original\/css\/sass\/skins\/blue\.sass}line{font-family:\0000346}}
.main_color_bg {
  background-color: #222; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/WORK\/wordpress-landing-page-lesson-master\/__clean_html_original\/css\/sass\/skins\/blue\.sass}line{font-family:\0000349}}
.toggle_mnu {
  background-color: #222; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/WORK\/wordpress-landing-page-lesson-master\/__clean_html_original\/css\/sass\/skins\/blue\.sass}line{font-family:\0000353}}
.header_menu a {
  color: #548bc5; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/WORK\/wordpress-landing-page-lesson-master\/__clean_html_original\/css\/sass\/skins\/blue\.sass}line{font-family:\0000355}}
.header_menu a:hover {
  color: #222;
  background-color: rgba(255, 255, 255, 0.5); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/WORK\/wordpress-landing-page-lesson-master\/__clean_html_original\/css\/sass\/skins\/blue\.sass}line{font-family:\0000359}}
.footer_section {
  color: #ccc; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/WORK\/wordpress-landing-page-lesson-master\/__clean_html_original\/css\/sass\/skins\/blue\.sass}line{font-family:\0000363}}
.about_content h3 {
  font-size: 16px;
  color: #222;
  font-weight: 600;
  letter-spacing: 2px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/WORK\/wordpress-landing-page-lesson-master\/__clean_html_original\/css\/sass\/skins\/blue\.sass}line{font-family:\0000370}}
.about_item .about_item-date {
  color: #fff;
  background-color: #548bc5; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/WORK\/wordpress-landing-page-lesson-master\/__clean_html_original\/css\/sass\/skins\/blue\.sass}line{font-family:\0000375}}
.portfolio li {
  color: #888; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/WORK\/wordpress-landing-page-lesson-master\/__clean_html_original\/css\/sass\/skins\/blue\.sass}line{font-family:\0000377}}
.portfolio li.active {
  color: #fff;
  border-bottom: 1px solid #548bc5; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/WORK\/wordpress-landing-page-lesson-master\/__clean_html_original\/css\/sass\/skins\/blue\.sass}line{font-family:\0000382}}
.portfolio_item .item_content a {
  border-color: #548bc5;
  color: #548bc5; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/WORK\/wordpress-landing-page-lesson-master\/__clean_html_original\/css\/sass\/skins\/blue\.sass}line{font-family:\0000386}}
.contacts_icon {
  color: #548bc5; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/WORK\/wordpress-landing-page-lesson-master\/__clean_html_original\/css\/sass\/skins\/blue\.sass}line{font-family:\0000391}}
.contacts_form .form-group input, .contacts_form .form-group textarea {
  border: 1px solid #548bc5; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/WORK\/wordpress-landing-page-lesson-master\/__clean_html_original\/css\/sass\/skins\/blue\.sass}line{font-family:\0000393}}
.contacts_form button {
  background-color: #548bc5; }
