body {
  color: #222;
  letter-spacing: 1px; }

a {
  color: #FF6347; }

p, .footer_section {
  color: #888; }

.color_element {
  color: #FF6347; }

.color_bg {
  background-color: #FF6347; }

.color_border {
  border-color: #FF6347; }

.bg_light {
  background-color: #FAFAFA; }
  .bg_light .section_description::after {
    background-color: #444; }

.bg_dark {
  background-color: #222;
  color: #fff; }
  .bg_dark .section_description::after {
    background-color: #fff; }
  .bg_dark a {
    color: #fff; }

.bg_white {
  background-color: #fff; }
  .bg_white .section_description::after {
    background-color: #555; }

.main_color_bg {
  background-color: #222; }

.toggle_mnu {
  background-color: #222; }

.header_menu a {
  color: #FF6347; }
.header_menu a:hover {
  color: #222;
  background-color: rgba(255, 255, 255, 0.5); }

.footer_section {
  color: #ccc; }

.about_content h3 {
  font-size: 16px;
  color: #222;
  font-weight: 600;
  letter-spacing: 2px; }

.about_item .about_item-date {
  color: #fff;
  background-color: #FF6347; }

.portfolio li {
  color: #888; }
.portfolio li.active {
  color: #fff;
  border-bottom: 1px solid #FF6347; }

.portfolio_item .item_content a {
  border-color: #FF6347;
  color: #FF6347; }

.contacts_icon {
  color: #FF6347; }

.contacts_form .form-group input, .contacts_form .form-group textarea {
  border: 1px solid #FF6347; }
.contacts_form button {
  background-color: #FF6347; }
